.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/public/home_images/rating.psd
/public/home_images/search.psd
/public/home_images/tags.psd
/public/tier_list_images/2020_Key_Art.0.psd
