.movie_container {
    /*outline: 1px solid green;*/

    background-color: white;

    width: 200px;
    /*height: 355px;*/
    /*max-width: 400px;*/
    /*min-width: 200px;*/

    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

    /*overflow: hidden;*/
    transition: 0.2s ease;

    display: flex;

}

.movie_container.open {
}

.main_block {
    /*outline: 2px solid yellow;*/
    width: 200px;
    display: block;
}

.expanded {
    /*outline: 1px red solid;*/
    border-radius: 8px 8px 0 0;

    padding: 20px 20px 20px 20px;
    position: absolute;

    width: 160px;
    height: 260px;

    background-color: rgba(255,255,255,0.85);

    font-size: 0.7em;
    text-align: left;

    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.open .expanded {
    visibility: visible;
    opacity: 1;
}

/*.details_wrapper {*/
/*    outline: red 1px solid;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: nowrap;*/

/*}*/

.heading {
    /*padding: 10px 0 5px 0 ;*/
    line-height: 25px;
    text-decoration: underline;
}

.poster {
    border-radius: 8px 8px 0 0;
    width: 200px;
    aspect-ratio: 1/1.5;
}


.content {
    /*outline: 1px solid red;*/
    display: grid;
    justify-content: space-between;
    flex-direction: column;

    margin: 5px 10px 10px 10px;
}
.extra_content {
    position: absolute;
    transform: translate(0px,285px);
}

.title {
    /*outline: 1px solid red;*/
    font-size: 0.8em;
    text-align: left;
    margin: 0;
    /*overflow: hidden;*/
    white-space: nowrap;
}

.date, .rating {
    /*outline: 1px solid red;*/

    font-size: 0.7em;
    text-align: left;
    margin: 0;

    color: rgba(0, 0, 0, 0.6);

    /*overflow-wrap: normal;*/
}

.overview {
}

.genres {
    /*outline: 1px red solid;*/
    display: flex;
    flex-wrap: nowrap;

    gap: 10px;
}

.tags_list {
    /*outline: red 1px solid;*/
    display: flex;
    flex-wrap: nowrap;
}
.tags_list_poster {
    /*outline: red 1px solid;*/
    position: absolute;
    /*transform: translate(+7.5vw);*/

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    opacity: 1;
    visibility: visible;

    transition: 0.3s ease-in-out;

}
.open .tags_list_poster {
    opacity: 0;
    visibility: hidden;
}
.rank_content {
    /*outline: red 1px solid;*/

    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}

.ranking_title {
    /*outline: red 1px solid;*/

    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}

