.container {
    outline: 1px black solid;

    width: 100px;
    /*height: min-content;*/

    border-radius: 5px;
    display: flex;
    justify-content: left;

    margin: 5px 0 0 0;
    /*padding: 3px 3px 3px 3px;*/
}

.block {
    background-color: #F5C518;
    /*min-width: 10px;*/
    width: 20px;
    height: 20px;
    margin: 2px;

    border-radius: 5px;

}

